**/.DS_Store
*.sublime-project
*.sublime-workspace
.aws
.aws.*
.byebug_history
.docraptor
.env.debug
.env.test
.idea
.irb_history
.ruby-gemset
.ruby-version
.secrets
.secrets.*
.yarn-integrity
/*.env
/.bundle
/config/database.yml
/config/ldap.yml
/config/master.key
/coverage/*
/customers/**/~$*
/db/*.sqlite3
/db/*.sqlite3-journal
doc/**
/dump.rdb
/erd.pdf
/log/**
/node_modules
/postgres-data
/public/assets/*
/public/packs
/public/packs-test
/spec/examples.txt
/storage
/tmp
/yarn-debug.log*
config/database.yml.kh
